@media screen and (max-width: 320px){
}

.john{
  font-size: 40px;
}


.wow {
  text-align: left;
  width: auto;
  position: absolute;
  top: 155px;
  left: 55px;
  animation: fly 8s linear infinite;
    animation-fill-mode: both;
}

@keyframes fly {
    0% {
        left: 0;
        top: 100%;
        transform: scale(0.6) rotate(30deg);
  }
    100% {
        left: calc(100% - 150px);
        top: -350px;
        transform: scale(1) rotate(-38deg);
    }
}


img {
  z-index: 100;
  border-radius: 10%;
  width: 170px;
  height: 170px;
}

#phoneimg {
  width: 110px;
  height: 115px;
  position:inherit;
  margin-left: 10em;
}

#logo {
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  text-align: left;
}

body, html {
font-family: 'Cutive', serif;
height: 100%;
background-color: #114B5F;
color:#F3E9D2;
}

#skills {


}


h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
  padding-bottom: 1em;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  margin-bottom: 20px;
}

a {
  color: #33a9b7;
}

#typer-size {
  font-size: 40px;
}

a:hover, a:focus {
  color: #00e4ff;
  text-decoration: none;
}

header {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #F3E9D2;
}

body #particles {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
	position: fixed;

}


header .vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

header .vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

header .vert-text .scroll-down {
  display: block;
  position: absolute;
  bottom: 12%;
  left: 50%;
  color: #F3E9D2;
}

#contacts {
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
  color: #F3E9D2;
  transition: all 1.7s ease;
}

/* background bottom  */

#contacts:hover {
  color: #dfdf;
}

form {
  margin-top: 70px;
  padding-left: 10px;
}

input[type="text"] {
  margin-top: 20px;
  width: 390px;
  height: 55px;
  border-radius: 100px;
  padding: 10px;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  transition: all 0.3s ease;
  font-size: 12px;
}

textarea {
  margin-top: 20px;
  width: 390px;
  height: 55px;
  border-radius: 100px;
  padding: 10px;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  font-size: 12px;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  background: rgba(102, 51, 153, 0.3);
  color: #fff;
  border: 1px solid violet;
}

::placeholder {
  color: #F3E9D2;
}

button {
  border-radius: 100px;
  color: #F3E9D2;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  height: 45px;
  width: 200px;
  text-align: center;
  outline: none;background: #1A936F;
  border: 1px solid #eee;
  box-shadow: 8px 10px 20px 0px rgba(251, 61, 73, 0.15);
  transition: all 0.3s ease;
}

button:hover {
  background: #88D498;
}

.hobbies{
  margin-bottom: 10px;
  left: 50%;
  position: absolute;
  width: 500px;
  color: #F3E9D2;
  font-size: 15px;
}

.ph{
  padding-top: 2em;
}

/* Skills  */

.section-title {
	color: #F3E9D2;
	text-align: center;
	font-size: 30px;
  padding-bottom: 1em;
}

.section-wrapper .skill-percentage {
  margin-bottom: 10px;
  margin-left: 10%;
  position: relative;
  width: 500px;
	color: #F3E9D2;
  font-size: 15px;
}

.section-wrapper .skill-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #4a4e51;
  display: block;
  margin-top: 4px;
}

.section-wrapper .skill-percentage::before {
  content: "";
  height: 6px;
  background: #1A936F;
  position: absolute;
  margin-top: 4px;
  bottom: 0;
}

.section-wrapper .skill-percentage:nth-child(1)::before {
  width: 80%;
  -webkit-animation: skill_1 0.6s ease;
  animation: skill_1 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(2)::before {
  width: 90%;
  -webkit-animation: skill_2 0.6s ease;
  animation: skill_2 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(3)::before {
  width: 50%;
  -webkit-animation: skill_3 0.6s ease;
  animation: skill_3 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(4)::before {
  width: 60%;
  -webkit-animation: skill_4 0.6s ease;
  animation: skill_4 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(5)::before {
  width: 70%;
  -webkit-animation: skill_5 0.6s ease;
  animation: skill_5 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(6)::before {
  width: 70%;
  -webkit-animation: skill_6 0.6s ease;
  animation: skill_6 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(7)::before {
  width: 70%;
  -webkit-animation: skill_6 0.6s ease;
  animation: skill_6 0.6s ease;
}

@-webkit-keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

/* Social links animation */
.social {
  position:static;
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 55px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.github {
  background-color: black;
  color: white;
}

.social .link.linkedIn {
  background-color: #0077B5;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}
